# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution
build/
dist/
*.egg-info/
*.egg

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Environments
.env
.venv
env/
venv/

# pyenv
.python-version

# Type checkers
.mypy_cache/
.pytype/
pyrightconfig.json

# Ruff
.ruff_cache/

# AI agents
.ai
.entire
.claude
.agent
.cursor
